/*
  
  SELECT B.*, A.transactiondate, A.logerror
  INTO train_2016_temp
  FROM train_2016 A 
  INNER JOIN properties_2016 B
  ON A.parcelid = B.parcelid AND B.latitude != '' AND B.longitude != ''
  
  Need to convert transactiondate to datetime format
  
SELECT [parcelid]
      ,[airconditioningtypeid]
      ,[architecturalstyletypeid]
      ,[basementsqft]
      ,[bathroomcnt]
      ,[bedroomcnt]
      ,[buildingclasstypeid]
      ,[buildingqualitytypeid]
      ,[calculatedbathnbr]
      ,[decktypeid]
      ,[finishedfloor1squarefeet]
      ,[calculatedfinishedsquarefeet]
      ,[finishedsquarefeet12]
      ,[finishedsquarefeet13]
      ,[finishedsquarefeet15]
      ,[finishedsquarefeet50]
      ,[finishedsquarefeet6]
      ,[fips]
      ,[fireplacecnt]
      ,[fullbathcnt]
      ,[garagecarcnt]
      ,[garagetotalsqft]
      ,[hashottuborspa]
      ,[heatingorsystemtypeid]
      ,[latitude]
      ,[longitude]
      ,[lotsizesquarefeet]
      ,[poolcnt]
      ,[poolsizesum]
      ,[pooltypeid10]
      ,[pooltypeid2]
      ,[pooltypeid7]
      ,[propertycountylandusecode]
      ,[propertylandusetypeid]
      ,[propertyzoningdesc]
      ,[rawcensustractandblock]
      ,[regionidcity]
      ,[regionidcounty]
      ,[regionidneighborhood]
      ,[regionidzip]
      ,[roomcnt]
      ,[storytypeid]
      ,[threequarterbathnbr]
      ,[typeconstructiontypeid]
      ,[unitcnt]
      ,[yardbuildingsqft17]
      ,[yardbuildingsqft26]
      ,[yearbuilt]
      ,[numberofstories]
      ,[fireplaceflag]
      ,[structuretaxvaluedollarcnt]
      ,[taxvaluedollarcnt]
      ,[assessmentyear]
      ,[landtaxvaluedollarcnt]
      ,[taxamount]
      ,[taxdelinquencyflag]
      ,[taxdelinquencyyear]
      ,[censustractandblock]
      ,YEAR([transactiondate]) transactionyear
      ,MONTH([transactiondate]) transactionmonth
      ,[logerror]
  INTO [train_2016_temp_full_V1]
  FROM [Zillow].[dbo].[train_2016_temp_2]
  --Another table version with true, y replace by number
  update [train_2016_temp_full_number_ex_propertyzoningdesc_propertycountylandusecode]
  set taxdelinquencyflag = replace(taxdelinquencyflag, 'Y', '1')
  
  update [train_2016_temp_full_number_ex_propertyzoningdesc_propertycountylandusecode]
  set hashottuborspa = replace(hashottuborspa, 'true', '1')
  
  */
  
  
  SELECT C.ParcelId  
      ,B.[airconditioningtypeid]
      ,B.[architecturalstyletypeid]
      ,B.[basementsqft]
      ,B.[bathroomcnt]
      ,B.[bedroomcnt]
      ,B.[buildingclasstypeid]
      ,B.[buildingqualitytypeid]
      ,B.[calculatedbathnbr]
      ,B.[decktypeid]
      ,B.[finishedfloor1squarefeet]
      ,B.[calculatedfinishedsquarefeet]
      ,B.[finishedsquarefeet12]
      ,B.[finishedsquarefeet13]
      ,B.[finishedsquarefeet15]
      ,B.[finishedsquarefeet50]
      ,B.[finishedsquarefeet6]
      ,B.[fips]
      ,B.[fireplacecnt]
      ,B.[fullbathcnt]
      ,B.[garagecarcnt]
      ,B.[garagetotalsqft]
      ,B.[hashottuborspa]
      ,B.[heatingorsystemtypeid]
      ,B.[latitude]
      ,B.[longitude]
      ,B.[lotsizesquarefeet]
      ,B.[poolcnt]
      ,B.[poolsizesum]
      ,B.[pooltypeid10]
      ,B.[pooltypeid2]
      ,B.[pooltypeid7]
      ,B.[propertycountylandusecode]
      ,B.[propertylandusetypeid]
      ,B.[propertyzoningdesc]
      ,B.[rawcensustractandblock]
      ,B.[regionidcity]
      ,B.[regionidcounty]
      ,B.[regionidneighborhood]
      ,B.[regionidzip]
      ,B.[roomcnt]
      ,B.[storytypeid]
      ,B.[threequarterbathnbr]
      ,B.[typeconstructiontypeid]
      ,B.[unitcnt]
      ,B.[yardbuildingsqft17]
      ,B.[yardbuildingsqft26]
      ,B.[yearbuilt]
      ,B.[numberofstories]
      ,B.[fireplaceflag]
      ,B.[structuretaxvaluedollarcnt]
      ,B.[taxvaluedollarcnt]
      ,B.[assessmentyear]
      ,B.[landtaxvaluedollarcnt]
      ,B.[taxamount]
      ,B.[taxdelinquencyflag]
      ,B.[taxdelinquencyyear]
      ,B.[censustractandblock]
  INTO sample_submission_temp
  FROM sample_submission C
  LEFT JOIN properties_2016 B
  ON C.ParcelId = B.parcelid